html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    background-color: rgba(230, 230, 230, 0.507);
}

.header_content {
    display: flex;
    max-width: 1280px;
    margin: auto;
}

.header_photo {
    width: 280px;
    height: 280px;
    border-radius: 150px;
    border: 2px solid white;
    margin-top: 30px;
}

.header_photo_section {
    background-color: rgba(5, 28, 63, 0.808);
    width: 452px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 50px;
}

.header_title {
    font-size: 3.5rem;
    margin-top: 80px;
    margin-bottom: 0px;
    letter-spacing: 5px;
    color: rgb(53, 51, 51);
}

.header_title_seccond {
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 0px;
    color: rgb(80, 78, 78);
}

.header_hr {
    width: 200px;
    height: 2px;
    background-color: black;
}

.navbar_link {
    text-decoration: none;
    margin: 0 25px;
    font-size: 1.5em;
    color: rgb(44, 43, 43);
}

.navbar_table {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.header_main_content {
    width: 790px;
    margin-left: 38px;
    background-color: rgba(177, 177, 177, 0.315);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 50px;
}

.aside_content {
    max-width: 452px;
    background-color: rgba(5, 28, 63, 0.808);
}

.aside_section_contact,
.aside_section_education,
.aside_section_references {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    color: white;
}

.aside_section_contact {
    padding-top: 80px;
    margin-bottom: -40px;
}

.main {
    max-width: 791px;
    position: relative;
    bottom: 960px;
    left: 490px;
    background-color: white;
    height: 960px;
}

.main_section {
    max-width: 700px;
    padding-left: 50px;
    padding-top: 100px;
}

.aside_title_contact,
.aside_title_education,
.aside_title_references {
    letter-spacing: 3px;
}

.aside_hr {
    width: 150px;
}

.aside_link {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.aside_code {
    font-size: 1.1em;
}

.main_title_profile,
.main_title_work,
.main_title_skills {
    letter-spacing: 1px;
}

.main_title_work,
.main_title_skills {
    margin-top: 80px;
}

.main_hr {
    width: 100px;
    margin-left: 0px;
    background-color: black;   
    height: 2px;
}

.main_hr_work {
    width: 230px;
    margin-left: 0px;
    background-color: black;   
    height: 2px;
}

.main_hr_skills {
    width: 80px;
    margin-left: 0px;
    background-color: black;   
    height: 2px;
}

.main_section_info {
    font-size: 1.2em;
}

.footer {
    display: flex;
}

.footer_section {
    position: relative;
    bottom: 961px;
    background-color: rgba(5, 28, 63, 0.808);
    height: 130px;
    width: 452px;
    border-bottom-left-radius: 50px;
}

.footer_text {
    position: relative;
    top: 20px;
    left: 150px;
    font-size: 1.5em;
}

.footer_section_seccond {
    width: 792px;
    position: relative;
    left: 38px;
    bottom: 961px;
    border-bottom-right-radius: 50px;
    background-color:  rgba(177, 177, 177, 0.315);
}

.footer_logotype {
    width: 140px;
    height: 80px;
}

.footer_link_hub {
    text-decoration: none;
    color: rgb(44, 43, 43);
    font-size: 3em;
    position: relative;
    left: 50px;
    bottom: 0px;
}

.footer_link_logo {
    position: relative;
    left: 450px;
    top: 20px;
}